.projpage.codegen {
}

.projpage.codegen p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.projpage.codegen h2 {
  font-size: 24px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.codegen h3 {
  font-size: 20px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.codegen h4 {
  font-size: 16px;
  text-shadow: 1px 1px 1px #abc;
}

.projpage.codegen table {
  font-size: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.projpage.codegen table th {
  font-weight: 600;
  background-color: #eef;
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 2px;
}

.projpage.codegen  table td {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.projpage.codegen code {
  font-size: 14px;
  line-height: 20px;
}

.projpage.codegen  ol li, .projpage.codegen  ul li {
  font-size: 14px;
}

.projpage.codegen ul {
  padding-top: 15px;
  padding-bottom: 2px;
}

.codegen blockquote {
  border-left-color: #bbc;
  background-color: #eef;
  padding: 0px;
}

.codegen .key-feature .header {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}

.codegen .key-feature .description {
  font-size: 14px;
  padding-left: 16px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.codegen h1.section-header {
  font-size: 32px;
  color: #656e82;
}

.codegen .col-lg-10 .description {
  font-size: 14px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

